<html>

  <head>
    <meta charset='UTF-8' />
  </head>

  <body
    style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';"
  >
    <table
      style='max-width: 80rem; min-height: 100vh; padding: 2rem; margin: 0 auto; background-color: #f5f5f5;'
    >
      <tr>
        <td align='center'>
          <table
            style='background-color: white; border-radius: 5px; padding: 20px;'
          >
            <tr>
              <td>
                <div style='text-align: left; font-size: 20px;'></div>
              </td>
              <td>
                <div style='text-align: right; font-size: 20px;'>Gợi ý việc làm</div>
              </td>
            </tr>
            <tr>
              <td
                colspan='2'
                style='margin: 15px 0; border-top: 1px solid rgba(5, 5, 5, 0.06);'
              ></td>
            </tr>
            <tr>
              <td colspan='2'>
                <div style='text-align: left;'>
                  <div style='font-size: 16px;'>Hi <span>{{name}}</span></div>
                  <div style='font-size: 16px;'>Các công việc dưới đây có thể
                    phù hợp với bạn!
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td
                colspan='2'
                style='margin: 15px 0; border-top: 1px dashed rgba(5, 5, 5, 0.06);'
              ></td>
            </tr>
            <tr>
              <td colspan='2'>
                <table>
                  {{#each jobs}}
                    <tr>
                      <td>
                        <div style='font-size: 16px;'>
                          <a
                            href='{{this.jobUrl}}'
                            target='_blank'
                            style='text-decoration: none; color: #085bdd;'
                          >{{this.name}}</a>
                        </div>
                        <div
                          style='font-size: 14px;'
                        >{{this.company.name}}</div>
                        <div style='font-size: 14px;'>{{this.salary}}</div>
                        <div style='margin-top: 5px;'>
                          {{#each this.skills}}
                            <span
                              style='font-size: 14px; background: #e8e8e8; padding: 3px; margin-right: 5px; border-radius: 3px;'
                            >{{this}}</span>
                          {{/each}}
                        </div>

                        <div
                          style='margin: 15px 0; border-top: 1px dashed rgba(5, 5, 5, 0.06);'
                        ></div>
                      </td>
                    </tr>
                  {{/each}}
                </table>
              </td>
            </tr>
            <tr>
              <td colspan='2' style='text-align: center;'>
                <a
                  href='{{url}}'
                  target='_blank'
                  style='display: inline-block; width: 100%; height: 40px; line-height: 40px; cursor: pointer; border-radius: 5px; background-color: #ea1e30; color: white; border: none; outline: none; text-decoration: none; font-size: 16px;'
                >
                  Xem thêm job.
                </a>
              </td>
            </tr>
            <tr>
              <td colspan='2'>
                <div
                  style='padding-top: 20px; text-align: left; font-size: 16px;'
                >Xin Cảm ơn!</div>
                <div style='text-align: left; font-size: 16px;'>{{name}}</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>

</html>